{% extends 'base.html' %}

{% block page_title %}{{category_name}}{% endblock page_title %}

{% block content %}

<div class="w-full h-64 bg-cover" style="background-image: url(https://igralaxe.sirv.com/WP_www.galahospitality.co.uk/football-hospitality/Spurs-football-hospitality/Tottenham-2019-Getty-Banner-1.jpg);"></div>
<div class="container w-5/6 mx-auto mt-24 flex">

    <div class="w-1/5 mr-28">
        <h1 class="text-2xl font-medium mb-5">IEMU11 소식</h1>
        <ul>
            {% for category in categories %}
            <li class="mb-3 font-semibold text-lg"><a href="{% url 'posts:category' category.name %}">{{category.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="w-4/5">
        <h1 class="text-xl font-medium mb-5 text-left block w-full">{{category_name}}</h1>
        {% for post in category_posts %}
            <div class="w-full h-20 border-t border-b border-gray-300 my-3">
                <ul>
                    <li>{{post.title}}</li>
                    <li><a href="{% url 'posts:detail' post.pk %}">보기</a></li>
                </ul>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}