{% extends 'base.html' %}

{% block page_title %}{{post.title}}{% endblock page_title %}

{% block content %}

<div class="w-full h-64 bg-cover" style="background-image: url(https://igralaxe.sirv.com/WP_www.galahospitality.co.uk/football-hospitality/Spurs-football-hospitality/Tottenham-2019-Getty-Banner-1.jpg);"></div>
<div class="container w-5/6 mx-auto mt-24">
    <div>
        <h1 class="font-bold text-2xl mb-10 border-b border-gray-300 pb-4">{{post.title}}</h1>
        {{post.created|date:"F-j-o"}}
        {{post.category}}
        {{post.writer}}
    </div>

        {{post.body}}
        {% if user.is_authenticated %}
        <a href="{% url 'posts:delete' post.pk %}">삭제</a>
        {% endif %}
</div>        
{% endblock content %}