<div class="container w-5/6 mx-auto pt-24 pb-4 flex justify-between border-t border-gray-300">
    <span class="text-sm font-light">© 2021 IEMU11 All rights reserved.</span>
    <ul class="flex flex-row">
        <li class="ml-4"><a href="https://www.facebook.com/IEMU11/" target="_blank" class="text-2xl text-gray-400"><i class="fab fa-facebook-square"></i></a></li>
        <li class="ml-4"><a href="https://www.instagram.com/iemu11/?hl=ko" target="_blank" class="text-2xl text-gray-400"><i class="fab fa-instagram"></i></a></li>
        <li class="ml-4"><a href="https://www.youtube.com/channel/UCpq4QCYACaqv_9m_TO-IkdQ" target="_blank" class="text-2xl text-gray-400"><i class="fab fa-youtube"></i></a></li>
    </ul>
</div>
